<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 등록</title>
</head>
<body>
<h1>상품 등록</h1>
<form th:action="@{/products}" th:object="${productDto}" method="post">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Price: <input type="text" th:field="*{price}"/></label><br/>
    <label>Image URL: <input type="text" th:field="*{imageUrl}"/></label><br/>
    <button type="submit">등록</button>
</form>
<a th:href="@{/products}">상품 목록으로 돌아가기</a>
</body>
</html>