<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>admin</title>
  <!--  <link rel="stylesheet" th:href="@{/style.css}">-->
</head>
<body>
<h1>Product Add</h1>
<form th:action="@{/admin/products/add}" th:product="${product}" method="post">
  <p>Name: <input type="text" th:field="*{product.name}"></p>
  <p>Price: <input type="number" th:field="*{product.price}"></p>
  <p>Image URL: <input type="text" th:field="*{product.imageUrl}"></p>
  <p><button type="submit">저장</button></p>
</form>
</body>
</html>
