<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 추가</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}">
</head>
<body>
<h2>새로운 상품 추가</h2>
<div th:fragment="addProductForm">
    <form id="addProductForm" th:action="@{/products}" method="post">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required>
        <label for="price">price:</label>
        <input type="number" id="price" name="price" required>
        <label for="imageUrl">image URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" required>
        <button type="submit">상품 추가</button>
    </form>
</div>
</body>
</html>