<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
  <h1>Products</h1>
  <a th:href="@{/admin/add}">Add</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td><img th:src="${product.imageUrl()}" alt="img"></td>
        <td>
          <a th:href="@{/admin/edit/{id}(id=${product}.id)}"></a>
          <a th:href="@{/admin/delete/{id}(id=${product}.id)}"></a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>