<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
<h1 th:id="${product.id}">Edit Product</h1>
<form id="productForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${product.name}"/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:value="${product.price}"/>
    </div>
    <div>
        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" th:value="${product.imageUrl}"/>
    </div>
    <div>
        <button type="button" onclick="submitForm()">Edit Product</button>
    </div>
</form>
<div>
    <button type="button" onclick="deleteProduct()">Delete Product</button>
</div>
<div>
    <button type="button" onclick="gotoHome()">home</button>
</div>
<script th:src="@{/js/adminProductDetailPage.js}"></script>
<script th:src="@{/js/gotoPage.js}"></script>
</body>
</html>