<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(products)}">
  <ul>
    <li th:each="product : ${products}">
      <span th:text="${product.id}">Id</span>
      <span th:text="${product.name}">Product Name</span>
      <span th:text="${product.price}">Price</span>
      <span th:text="${product.imageUrl}">imageUrl</span>
    </li>
  </ul>
</div>
<div th:if="${#lists.isEmpty(products)}">
  No products available.
</div>
<div>
  <ul>
    <li><a href="products/add/form">상품 추가</a></li>
    <li>
      <a href="products/update/form">상품 수정</a>
    </li>
    <li>
      <a href="products/delete/form">상품 삭제</a>
    </li>
  </ul>

</div>
</body>
</html>