<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>🔎상품 목록</h1>
<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody id="product-list">
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">상품명</td>
        <td th:text="${product.price}">가격</td>
        <td><img th:src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
    </tr>
    </tbody>
</table>

<br>
<!--상품 추가-->
<button class="add-button" type="button" onclick="toggleAddProductForm()">상품 추가</button>

<form id="add-product-form" style="display: none;">
    <h2>상품 추가</h2>
    <label for="name">상품명:</label>
    <input type="text" id="name" name="name">
    <label for="price">가격:</label>
    <input type="text" id="price" name="price">
    <label for="imageUrl">이미지 URL:</label>
    <input type="text" id="imageUrl" name="imageUrl">
    <button class="add-button" type="button" onclick="addProduct()">추가</button>
</form>

<script>
    function fetchProducts() {
        $.get("/api/products", function(data) {
            var productList = $("#product-list");
            productList.empty();
            data.forEach(function(product) {
                productList.append(`
                    <tr>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td><img src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
                    </tr>
                `);
            });
        });
    }

    // 상품 추가
    function addProduct() {
        var name = $("#name").val();
        var price = $("#price").val();
        var imageUrl = $("#imageUrl").val();
        $.ajax({
            url: "/api/products",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({name: name, price: price, imageUrl: imageUrl}),
            success: function() {
                fetchProducts();
                resetAddProductForm();
                $("#add-product-form").hide();   // 성공 시 숨기기
            }
        });
    }

    function toggleAddProductForm() {
        $("#add-product-form").toggle();
    }

    function resetAddProductForm() {
        $("#name").val("");
        $("#price").val("");
        $("#imageUrl").val("");
    }

    $(document).ready(function() {
        fetchProducts();
    });
</script>
</body>
</html>