<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
</head>
<body>
    <div class="header">
        <span id="title">Manage Product</span>
        <button id="product-add-btn">Add New Product</button>
    </div>
    <table class="product-list">
        <tr>
            <th>Image</th>
            <th>ID</th> 
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="product: ${products}">
            <td>
                <a th:href="@{'/admin/products/' + ${product.id}}">
                    <img th:src="@{${product.imageUrl}}" alt="no image" class="product-img"/>
                </a>
            </td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</body>
</html>