<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Management Products</title>
</head>
<body>
<h1>Management Products</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>ImageUrl</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${#lists.isEmpty(products)}">
        <tr>
            <td colspan="4">데이터가 존재하지 않습니다</td>
        </tr>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(products)}">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">0</td>
            <td th:text="${product.name}">Sample Name</td>
            <td th:text="${product.price}">0.0</td>
            <td th:text="${product.imageUrl}">Sample Url</td>
        </tr>
    </th:block>
    </tbody>
</table>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/admin/products(page=${currentPage - 1}, size=${pageSize})}">Previous</a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/admin/products(page=${currentPage + 1}, size=${pageSize})}">Next</a>
    </span>
</div>
</body>
</html>
