<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>step2-관리자화면</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Product List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Product1</td>
        <td th:text="${product.price}">100</td>
        <td><img th:src="${product.imageUrl}" alt="Product Image"></td>
    </tr>
</table>
</body>
</html>
